<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base_style.css">
    <link rel="stylesheet" href="../static/experiment_style.css">
    <link rel="stylesheet" href="../static/index_style.css">
    <link rel="stylesheet" href="../static/prediction_style.css">
    <link rel="stylesheet" href="../static/train_style.css">
    <title>SCANIA Truck APS</title>
</head>
<body>
    <div class="base-container">
        <div class="header">
            <h1>SCANIA Trucks APS sensor Fault Prediction</h1>
            <div class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/train">Model Training</a></li>
                    <li><a href="/prediction">Predict Fault</a></li>
                    <li><a href="/experiments">Experiments History</a></li>
                </ul>     
            </div>
        </div>
    </div>
    {% block content %}
    
    {% endblock %}
    <div class="flex-footer">
        <div class="footer">
            <ul>
                <li><a target="_blank" href="https://www.linkedin.com/in/linkan-kumar-sahu-323892121/">LinkedIn</a></li>
                <li><a target="_blank" href="https://github.com/Sahulinkan7">github</a></li>
            </ul>
        </div>
    </div>
    
   
</body>
</html>